*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0B0B3B;
}

.sidebar{
    width: 250px;
    left: -250px;
    height: 500px;
    background:linear-gradient(#585858,#610B0B) ;
    position: fixed;
    transition: 0.5s;
    float: left;
}
.sidebar.toggle{
    left: 0;
}
.sidebar.toggle .switch i{
    transform: rotate(180deg);
}
.sidebar p{
    color: white;
    text-align: center;
    margin-top: 10px;
    font-size:x-large;
}
.sidebar ul{
    text-align: center;
}
.sidebar ul input{
    list-style: none;
    margin: 20px 0;
    background-color: yellow;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
}
.sidebar ul input:hover{
    background-color: blue;
    border: 2px solid #3B170B;
    width: 240px;
    color: white;
}
.switch{
    position: absolute;
    top:4.4%;
    left: 100%;
    width: 40px;
    height: 40px;
    background: white;
    border: 2px solid white;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 30px;
    border-radius: 5px;
}
.switch i{
    display: flex;
    color: #3B170B;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.5s linear;
    padding: 10px;
}
img{
    width: 150px;
    height: 150px;
}
.sidebar-2 img{
    width: 50px;
    height: 50px;
}
.sidebar-2{
    width: 250px;
    right: -250px;
    height: 450px;
    background:linear-gradient(#585858,#610B0B);
    position: fixed;
    transition: 0.5s;
    float: right;
    border-radius: 5px;
}
.sidebar-2.toggle{
    right: 0;
}
.sidebar-2.toggle .switch-1 i{
    color: #5858FA;
}
.switch-1{
    position: absolute;
    top:4.4%;
    right: 100%;
    width: 45px;
    height: 45px;
    background: white;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 30px;
    border-radius: 5px;
}
.switch-1 i{
    display: flex;
    color: #3B170B;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s linear;
    margin-right: 5px;
}
.timdiv{
    position: fixed;
    left: 34%;
    width: 400px;
    height: 30px;
    background-color: black;
    top: 1%;
    border-radius: 5px;
    border: 0;
    align-items: center;
    justify-content: center;
}
.timdiv input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    padding: 0 10px;
}
.iconse{
    position:absolute;
    left: 97%;
    top: 0;
    border-radius: 5px;
    width: 30px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.iconse i{
    padding: 5px;
    margin-left: 2px;
    margin-top: 1px;
    font-size:large;
    cursor: pointer;
}
.list{
    width: 650px;
    height: 400px;
    float: left;
    margin-left: 320px;
    margin-top: 50px;
}
.list table{
    width: 100%;
    max-height: 100%;
    overflow: auto;
}
.list table #head{
    width: 100%;
    height: 50px;
    text-align: center;
}
#head th{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E0E0F8;
    width: 160px;
}
.list table #sanpham{
    width: 100%;
    max-height: 350px;
    text-align: center;
}
#sanpham tr{
    height: 100px;
    width: 100%;
}
#sanpham td{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E0E0F8;
}
#sanpham th{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E0E0F8;
}
#sanpham input{
    width: 70px;
    height: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.over{
    width: 100%;
    height: 440px;
    overflow: auto;
}
.sidebar-2 .over table{
    width: 100%;
    max-height: 500px;
    overflow: auto;
}
.sidebar-2 .over table .head2{
    width: 100%;
    height: 10px;
    text-align: center;
}
.head2 th{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E0E0F8;
    width: 60px;
    height: auto;
}
#giohang{
    text-align: center;
    width: 100%;
    max-height: 400px;
    overflow: auto;
}
#giohang td{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #E0E0F8;
    height: 50px;
    width: 60px;
}
#giohang tr{
    height: 60px;
    width: 100%;
}
#giohang input{
    width: 50px;
    height: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
}
.footer1{
    position: absolute;
    top: 426px;
    width: 250px;
}
.footer2 th{
    border-radius: 5px;
    background-color: yellow;
    width: 100px;
    height: 20px;
    color: black;
}
.footer2 input{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    color: yellow;
    border:1px solid white;
}
.dangky{
    background-color: rgba(0, 0,0, 0.6);
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.dangky.toggle{
    display: block;
}
.dangnhap{
    background-color: rgba(0, 0,0, 0.6);
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.dangnhap.toggle{
    display: block;
}
.box-1{
    background-color: yellow;
    overflow: hidden;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    overflow: hidden;
    max-width: 100%;
    width: 500px;
}
.close-btn{
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    font-size:x-large;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.close-btn1{
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    font-size:x-large;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.headdiv{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color:greenyellow;
    padding: 15px;
}
.headdiv h3{
    margin-right: 25px;
}
.form{
    padding: 20px;
}
.form-group div{
    margin: 15px 0;
}
.form-group label{
    display: block;
    margin: 10px 0px 5px 0px;
}
.form-group input{
    padding: 6px;
    width: 96%;
}
span{
    order: 3;
    color: red;
    display: block;
}
.btdk{
    width: 100px;
    height: 30px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 180px;
    cursor: pointer;
}
.btdn{
    width: 100px;
    height: 30px;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 170px;
    cursor: pointer;
}
.outacc{
    display: none;
    list-style: none;
    background-color: red;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;
    color: yellow;
}
.outacc:hover{
    background-color: blue;
    border: 2px solid #3B170B;
    color: white;
}
.outacc.toggle{
    display: block;
}
.register.toggle{
    display: none;
}
.log-in.toggle{
    display: none;
}
.avatar{
    width: 100px;
    height: 100px;
    background-color: white;
    margin-top: 40px;
    border-radius: 50%;
    margin-left: 77px;
}
.avatar img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
}